@import 'variables';
@import 'utilities';

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

h1,h2,h3{
  text-transform:uppercase;
}

h2, h3, h4{
  font-weight: normal;
}

//HEADER
#resume-header{
  #heading-info{
    display:flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    #personal-titles {
      line-height: 1.2;
      #subtitle{
        font-size: 1.6rem;
        font-style: italic;
      }
    }
    #basic-info{
      font-size: 1rem;
      text-align: end;
      a#linkedin{
        border-right: 1px solid black;
        padding-right: .3rem;
      }
    }
  }
}